<h2>Google DevFest Twin Cities </h2>
Feb 8th, 2014

<div class="row">
    <div>
    </div>
</div>


<div class='row panel-default' ng-repeat="(time,data) in sessionTimes | orderBy : time">
    <div class='panel-heading'><strong>{{time}}</strong></div>
    
    <div ng-show="data.sessions[0].track=='general'">
        <div class='panel-body' ng-repeat="session in data.sessions">
            <div class='col-md-12 all' ng-show="session.track=='general'">
                <div class='session'>
                    {{session.title}}<hr />
                    <div class='roomline'>
                        <span class='roomspan'>{{session.room}}</span>
                    </div>
                    {{session.speakers[0].name}}
                </div>
            </div>
        </div>
    </div>

    <div ng-show="data.sessions[0].track!='general'">
         <div class='panel-body' >
            
            <!--<div class='col-md-2 center noroom' ng-repeat="track in tracks">-->
            <div class='col-md-2 center noroom' ng-repeat="session in data.sessions">
                
                <div class="session {{session.track}}">
                    <img src="https://developers.google.com/apps/images/io_2013/track_android.png" style="width: 100px; margin: -20px;"/><hr /><div class='roomline'><span class='roomspan'></span></div>
                    {{session.title}}
                </div>
            </div>
        </div>
    </div>
</div>